* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}
h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}
h2 {
  font-size: 46px;
  line-height: 64px;
  color: #222;
}
h4 {
  font-size: 20px;
  color: #222;
}
h6 {
  font-weight: 700px;
  font-size: 16px;
}
p {
  font-size: 16px;
  color: #465b52;
}
.section-p1 {
  padding: 50px 80px;
}
.section-m1 {
  margin: 40px 0;
}
.body {
  width: 100%;
}

.logo {
  width: 150px;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#Navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  right: -300px;
}
#Navbar.active {
  right: 0px;
}
#Navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#Navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#Navbar li a:hover,
#Navbar li a.active {
  color: #cf5032;
}

#Navbar li a.active::after,
#Navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: #cf5032;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
#mobile {
  display: none;
  align-items: center;
}
#close {
  display: none;
}
#hero {
  background-image: url(hero-1.png);
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
#hero h4 {
  padding-bottom: 15px;
}
#hero h1 {
  color: #cf5032;
}

#hero button {
  border: 0;
  width: 135px;
  height: 50px;
  background-color: #cf5032;
  margin-top: 20px;
  font-size: 20px;
  color: #222;
  transition: 0.3s ease;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
}
#hero button:hover {
  background-color: #222;
  color: #cf5032;
}
#Product1 {
  text-align: center;
}
#Product1 .pro-container {
  display: flex;
  margin-top: 60px;
}
#Product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px;
  transition: 0.2s ease;
  position: relative;
}
#Product1 .pro img {
  width: 100%;
  border-radius: 20px;
}
#Product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.4);
}
#Product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}
#Product1 .pro .des span {
  color: #606063;
  font-size: 12px;
}
#product1 .pro i {
  font-size: 12px;
  color: rgba(243, 181, 25);
}
#Product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 20px;
  font-weight: 700;
  color: #cf5032;
}
#Product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #cf5032;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}
#Bannar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(b2.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
}
#Bannar h2 {
  color: #ffffff;
  font-weight: 700;
}
#Bannar button {
  border: 0;
  width: 135px;
  height: 50px;
  background-color: #cfbf32;
  margin-top: 20px;
  font-size: 20px;
  color: #222;
  transition: 0.3s ease;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
}
#Bannar button:hover {
  background-color: #35b935;
  color: #000000;
}

.sec-title {
  text-align: center;
  margin: 40px;
}

.sec-title span {
  color: #cf5032;
  border-bottom: 3px solid #cf5032;
}

.grid {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  margin-bottom: 30px;
  justify-content: center;
}

.stap-card {
  display: flex;
  flex-direction: column;
  width: 250px;
  min-width: 200px;
  max-width: 300px;
  height: 250px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.stap-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.stap_card-num {
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: rgb(182, 27, 27);
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  margin-bottom: 20px;
}

.stap-card-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.staps-card-d {
  font-size: 18px;
  color: #666;
}

footer {
  background-color: #f8f9fa;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.col {
  display: flex;
  flex-direction: column;
}

.col-pay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 100px;
}

h4 {
  margin: 10px 0;
}

p {
  margin: 5px 0;
}

.links {
  margin-top: 10px;
}

.icon a {
  color: #333;
  text-decoration: none;
  font-size: 24px;
  margin: 0 10px;
}

.col a {
  color: #333;
  text-decoration: none;
  margin: 5px 0;
}
@media (max-width: 799px) {
  #Navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    padding: 80px 0 0 10px;
  }
  #Navbar li {
    margin-bottom: 25px;
  }
  #mobile {
    display: flex;
    align-items: center;
  }
  #mobile i {
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
  }
  #close {
    display: inline;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #cf5032;
    font-size: 24px;
  }
  #hero {
    height: 90vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }
  #Product1 {
    text-align: center;
  }
  #Product1 .pro-container {
    display: row;
    margin-top: 60px;
    overflow: auto;
    white-space: nowrap;
  }

  .grid {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }

  .stap-card {
    width: 100%;
    max-width: none;
    margin-left: 0;
    margin-bottom: 20px;
  }
}
@media (max-width: 477px) {
  #header {
    padding: 20px 20px;
  }
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 32px;
  }
  .logo {
    width: 100px;
  }
  #hero {
    padding: 0 20px;
    background-position: 70%;
  }

  #Product1 {
    padding: 10px;
    margin-top: 40px;
  }
  #Product1 .pro .des {
    text-align: start;
    padding: 50px 10;
  }
  #Product1 .pro-container {
    display: flex;
    margin: 30px;
  }
  #Product1 .pro .cart {
    overflow: hidden;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #cf5032;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
  }
  #Product1 .pro:hover {
    box-shadow: none;
  }
  #Bannar h2 {
    font-size: 30px;
  }
  #Bannar button {
    font-size: 19px;
    height: 50px;
  }
  #Bannar {
    height: 23vh;
  }
  .sec-title {
    text-align: center;
    margin-right: 0;
    margin: 10px;
  }
  .section-p1 {
    padding: 30px 47px;
  }
  #Navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 200px;
    background-color: #e3e6f3;
    padding: 80px 0 0 10px;
  }
}
